<div class="filters">
  <form method="get">
    <div class="btn-group btn-group-toggle filter-group" data-toggle="buttons">
      <label class="btn btn-primary {{#if-equals "all" filters.platform}}active{{/if-equals}}">
        <input type="radio" name="platform" value="all" autocomplete="off"
          {{#if-equals "all" filters.platform}}checked{{/if-equals}}>
        <span>All</span>
      </label>
      <label class="btn btn-primary {{#if-equals "desktop" filters.platform}}active{{/if-equals}}">
        <input type="radio" name="platform" value="desktop" autocomplete="off"
          {{#if-equals "desktop" filters.platform}}checked{{/if-equals}}>
        <i class="fas fa-desktop"></i><span>Desktop</span>
      </label>
      <label class="btn btn-primary {{#if-equals "console" filters.platform}}active{{/if-equals}}">
        <input type="radio" name="platform" value="console" autocomplete="off"
          {{#if-equals "console" filters.platform}}checked{{/if-equals}}>
        <i class="fas fa-hdd"></i><span>Console</span>
      </label>
    </div>
    <div class="btn-group btn-group-toggle filter-group" data-toggle="buttons">
      <label class="btn btn-primary {{#if-equals "score" filters.sort}}active{{/if-equals}}">
        <input type="radio" name="sort" value="score" autocomplete="off" {{#if-equals "score" filters.sort}} checked
          {{/if-equals}}>
        <i class="fas fa-crown"></i><span>By score</span>
      </label>
      <label class="btn btn-primary {{#if-equals "alphabetically" filters.sort}}active{{/if-equals}}">
        <input type="radio" name="sort" value="alphabetically" autocomplete="off"
          {{#if-equals "alphabetically" filters.sort}} checked {{/if-equals}}>
        <i class="fas fa-sort-alpha-down"></i><span>Alphabetically</span>
      </label>
    </div>
    <button class="btn btn-success" type="submit">Apply</button>
  </form>
</div>